
### JetBrains template
# User-specific stuff:
.idea/

### Node template
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

build/
app/public/javascripts/
app/out/
coverage/
